/* General design */

body {
  /* font-family: Times, serif; */
  /* font-family: Arial, sans-serif; */
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  color: rgb(30, 30, 30);
  background-color: rgb(230, 230, 230);
  margin: 0px;
}
h1 {
  font-family: 'Overpass', sans-serif;
  color: rgb(121, 119, 119);
}

#special {
  color: white;
}

h2 {
  font-family: 'Overpass', sans-serif;
  color: rgb(121, 119, 119);
  /* background-color: coral; */
}

a {
  color: #1b48e3;
  text-decoration: none;
}

a:hover {
  color: white;
}

/* Specific Design */
.banner {
  background-image: url('img/20200823_105644 (Large).jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0px;
  text-align: center;
}

.banner h1 {
  font-size: 40px;
}

.banner p {
  opacity: 0.7;
}

.btn-blue{
  color: white;
  background-color: #1b48e3;
  padding: 12px 20px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: turquoise;
}

.container {
  width: 900px;
  margin: auto;
}

.container h2 {
  font-size: 30x;
}

.card-white {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 18px;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  width: 250px;
}

.footer {
  background-color: grey;
  text-align: center;
  padding: 32px 0px;
  height: ;
}

.footer p {
  color: white;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}